@media screen and (min-width: 1080px) {
    body{
        width: 1080px;
        margin: auto;
    }
}

@media screen and (max-width: 1080px) {
    button{
        font-size: 2em;
    }
}

@media screen and (min-width: 1080px) {
    header .brand-logo{
        font-size: 64.8px;
    }
    header li a{
        font-size: 43.2px;
    }
}